.overlay {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 616px;
  height: 100%;
  overflow: auto;
  transform: translateX(-616px);
  transition: transform 0.5s ease;
  z-index: 2; /* поверх подложки */
}

.container_open {
  transform: translateX(0);
}

.form {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
  width: 616px;
  min-height: 100%;
  padding: 50px 31px;
  background-color: #ffffff;
  border-right: 1px solid #000000;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
